services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\EmailBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaEmailBundle.php'

    OHMedia\EmailBundle\EventListener\EmailPrePersist:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'prePersist'
                entity: 'OHMedia\EmailBundle\Entity\Email'

    OHMedia\EmailBundle\EventListener\EmailPostPersist:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'postPersist'
                entity: 'OHMedia\EmailBundle\Entity\Email'
